* 
{
    margin: 0;
    padding: 0;
}

/*
container-fluid - растягивание на весь экран
container - фиксированный блок

Контейнеры—.container для фиксированной ширины или 
.container-fluid на полную ширину—центр содержание вашего сайта и помочь выровнять грид Содержание.

Легко изменить порядок наших встроенных столбцов разметки с .push-md-* и .pull-md-* модифицированными классами.
push - право
pull -лево
*/

/*header, nav, footer, article {display: block;}*/
body {font-family: Verdana, "Trebuchet MS" !important; background-color: #ffd49c;}
header {background: #FFAB61;}
nav {background-color: #FF8761;}
h1, h2, h3, h4, h5
{
    text-align: center; 
    color: #000; 
    font-size: 18px;
    /*margin-top: 10px;*/
}




article {
    background-color: #ffe7c8;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
}

article p{
    text-align: justify;
}

article a
{
    color: #8b4400 !important; 
}

article ul, article ol 
{
    margin-left: 30px;
}


footer
{
    /*background-color: #5c2900; */
    border-top: 3px solid #5c2900;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 14px;
}

footer a:link {color: #554231; text-decoration: none;}
footer a:visited {color: #8b4400; text-decoration: none;}
footer a:hover {color: #554231;text-decoration: underline;}
footer a:active {color: #554231;text-decoration: none;}

article img
{
    max-width: 100%;
    height: auto; 
    margin: 0px auto 10px auto;  
}

article hr
{
    background-color: #c1c1c1;  
}

hr
{
    margin: 5px auto 5px auto;
}

.center
{
    text-align: center;
}

.icon {
  width: 16px;
  height: 16px;
  fill: green;
  color: green;
}

.h5 span
{
    color: #8b4400;
    font-size: 0.8em;
}

.left-box-foot
{
    float: left !important;
}

.right-box-foot
{
    float: right !important;
    text-align: right;
}

.container, .container-fluid
{
    margin-top: 10px;
}

/* для меня */
.bg-yellow
{
    background-color: #5c2900 !important;
}

.container-fluid
{
    /* можно задать ограничение по ширине
    max-width: 1600px;*/
}

.box-left
{
    background-color: #c1c1c1;
}

.box-right
{
    background-color: #c1c1c1;
}



.sidebar-border
{
    /*border: 1px solid #5c2900 !important;
    border-radius: 8px;
    */
}

/*удаляю точку возле списка*/
.sidebar-module ul
{
    list-style-type: none;
}

.sidebar-module li  a:link {color: #554231; text-decoration: none;}
.sidebar-module li  a:visited {color: #8b4400; text-decoration: none;}
.sidebar-module li  a:hover {color: #554231;text-decoration: underline;}
.sidebar-module li  a:active {color: #554231;text-decoration: none;}

.table th 
{
    text-align: center !important;
}

.table td, .table th {
    border-top: 1px solid #5c2900;
    padding: 0.75rem;
    vertical-align: top;
}


.main-searc > div > div
{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* поиск*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 15px;
}

.media
{
    margin-bottom: 10px; 
}

.media h1,
.media h2,
.media h3,
.media h4,
.media h5
{
    text-align:left;
}

.pagination-box ul
{
    margin: 10px auto 4px 5px;
}

nav[aria-label="Page navigation example"]
{
    background: none;
}

.list-unstyled
{
    margin: 0 5px 0 5px;
}


ul.pagination
{
   background: none;
}

ul.pagination li
{
    text-align: center !important;
}

.pagination a.page-link:link {color: #554231; text-decoration: none;}
.pagination a.page-link:visited {color: #8b4400; text-decoration: none;}
.pagination a.page-link:hover {color: #554231;text-decoration: none;}
.pagination a.page-link:active {color: #554231;text-decoration: none;}


.img-fluid
{
    max-width: 100%;
    height: auto;   
}



.comments-page .h4
{
    margin: 15px auto 10px auto;
    text-align: center;
}

.comments-page p
{
   margin-top: 0px;
}

.comments-page hr
{
    margin: -7px 0 5px 0;
}

.comments-page form
{
    margin: 10px auto 5px auto !important;
}

/* хлебные крошки */


.breadcrumb
{
    background: none;
}

nav[aria-label="breadcrumb"] ol
{
    margin-left: 0px !important;
}

nav[aria-label="breadcrumb"]
{
    background: none;
}

/* сообщения */
.message li
{
    list-style-type: none; /* Убираем маркеры */    
}

.success
{
    color: green;
    font-weight: bold;
}

.error, .errorlist
{
    color: red;
    font-weight: bold;
}

/* карта сайта */ 
.sitemap ol
{
    margin-left: 30px;
}

.sitemap ul
{
    margin-left: 0px;
}

.search li
{
    margin-left: 40px;   
}


#button-vote
{
    cursor: pointer;
}

#rating-page
{
    margin-bottom: 10px;
}

.rating-alert
{
    display: none;
}

.vote-help
{
    width: 100%;
}

.last_post
{
    font-size: 13px;
}

img.captcha
{
    border: 1px solid #c1c1c1;
    margin: -6px auto 0 0;
}


#id_captcha_1
{
    height: 42px;
    width: 100px;
    font-size: 20px;
    margin: 0px auto 0 0;
    padding: 0 10px 0 10px;
}

.counter-yandex
{
    text-align: center;    
}

/*
// Дополнительные небольшие устройства (портрет телефонах, менее 544px)// Нет медиа запросов, так как это по умолчанию в Bootstrap
  

// Небольших устройств (альбомной телефоны, 544px и вверх)  
@media (min-width: 544px) {

}

// Устройствах среднего (планшеты, 768px и выше)  
@media (min-width: 768px) {

}

// Крупных устройств (настольных компьютеров, 992px и выше)  
@media (min-width: 992px) {

}

// Очень больших устройств (большие компьютеры, 1200px и выше)  
@media (min-width: 1200px) {

}
*/