{% extends "blog/base.html" %}

{% block description %}{{ post_list.description }}{% endblock %}


{% block keywords %}{{ post_list.keywords }}{% endblock %}


{% block title %}{{ post_list.title }}{% endblock %}


{% block content %}
<h1>Добавление комментария</h1>
<div class='message'>
{% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}

<p><span class="oi oi-arrow-thick-left"></span> перейти на предыдущюю страницу <a href="{{ ref }}">{{ ref }}</a></p>
</div>
{% endblock %}
