{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Необходимые Мета-теги всегда на первом месте -->  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{% block description %}{% endblock%}" />
    <meta name="keywords" content="{% block keywords %}{% endblock%}" />
    <title>{% block title %}{% endblock%}</title>

    <!-- Bootstrap -->
    <link href="{% static "bootstrap4/css/bootstrap-grid.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap4/css/bootstrap-reboot.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap4/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "/open-iconic/font/css/open-iconic-bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap4/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "bootstrap4/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/work.js" %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">egorch.ru</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% for page in menu_mixin %}
		    <li>
			  <a class="nav-link" href="{% url 'blog:page' page.url %}">{{ page.title|capfirst }}</a>	  
			</li>
		  {% endfor %}
          <li class="nav-item active">
            <a class="nav-link" href="/contact/">Контакты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sitemap/">Карта сайта</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sitenews/rss/">RSS <span class="oi oi-rss"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sitenews/atom/">Atom <span class="oi oi-rss"></span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'blog:search' %}">
          {% csrf_token %}
          <input name='search' class="form-control mr-sm-2" type="text" placeholder="поиск" aria-label="Search">
          <button class="btn btn btn-secondary my-2 my-sm-0" type="submit">поиск</button>
        </form>
      </div>
    </nav>

    <div class="container-fluid">

	
	<div class="row">
		<div class="col-md-2">
			
			<div class="sidebar-module sidebar-border">
				<p class="h5 center">Категории <span class="oi oi-briefcase"></span></p>
				<ul>
				{% for category in category_mixin %}
				    <li><a href="{% url 'blog:category' category.url %}">{{ category.title|capfirst }}</a></li>
				{% endfor %}
				</ul>
			</div>
			
			<div class="sidebar-module sidebar-border">
				<p class="h5 center">Последние статьи <span class="oi oi-document"></span></p>
				<ul class="last_post">
				{% for post in post_top_mixin %}
				    <li><a href="{% url 'blog:post' post.url %}">{{ post.title }}</a></li>
				{% endfor %}
				</ul>
			</div>
			
			<div class="sidebar-module sidebar-border">
				<span class="d-inline-block vote-help" tabindex="0" data-toggle="tooltip" title="Щелкните по звёздочке )">
					<p class="h5 center">Голосование <span class="oi oi-pie-chart"></span></p>
				</span>
				<table class="table vote">
				{% for cat in rating_mixin %}
					<tr>
				    <td title="{{ cat.title }}">{{ cat.title|capfirst }}</td><td id="button-vote" data-value="{{ cat.url }}"><span class="oi oi-star"></span></td>
				    </tr>
				{% endfor %}
				</table>
			</div>
			<div class="sidebar-module sidebar-border">				
				<noindex>
				<div class="counter-yandex">
					<!-- Yandex.Metrika informer -->
					<a href="https://metrika.yandex.ru/stat/?id=560687&amp;from=informer"
					target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/560687/3_0_FFD386FF_FFB366FF_0_pageviews"
					style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="560687" data-lang="ru" /></a>
					<!-- /Yandex.Metrika informer -->
				</div>
								
				<!-- Yandex.Metrika counter -->
				<script type="text/javascript" >
				    (function (d, w, c) {
				        (w[c] = w[c] || []).push(function() {
				            try {
				                w.yaCounter560687 = new Ya.Metrika({
				                    id:560687,
				                    clickmap:true,
				                    trackLinks:true,
				                    accurateTrackBounce:true,
				                    webvisor:true
				                });
				            } catch(e) { }
				        });
				
				        var n = d.getElementsByTagName("script")[0],
				            s = d.createElement("script"),
				            f = function () { n.parentNode.insertBefore(s, n); };
				        s.type = "text/javascript";
				        s.async = true;
				        s.src = "https://mc.yandex.ru/metrika/watch.js";
				
				        if (w.opera == "[object Opera]") {
				            d.addEventListener("DOMContentLoaded", f, false);
				        } else { f(); }
				    })(document, window, "yandex_metrika_callbacks");
				</script>
				<noscript><div><img src="https://mc.yandex.ru/watch/560687" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
				<!-- /Yandex.Metrika counter -->
				</noindex>	
			</div>
		</div>
		<div class="col-md-8">
			<article>
				{% block content %}{% endblock%} 				
			</article>
		</div>
		<div class="col-md-2">
			<div class="sidebar-module sidebar-border">
				<p class="h5 center">Сайты друзей <span class="oi oi-browser"></span></p>
				<ul>
				{% for site in sites_friends_mixin %}
				    <li><a href="{{ site.url }}" title="{{ site.title }}" target=_blank"">{{ site.text }}</a></li>
				{% endfor %}
				</ul>
			</div>
			<!--
			<div class="sidebar-module sidebar-border">
				<p class="h5 center">Реклама <span class="oi oi-bullhorn"></span></p>
				некий текст рекламы от гуугл.				
			</div>
			-->
		</div>
	</div><!--row-->
	
	
	<div class="row">
		<div class="col-md-12">
				<footer>
					<div class="col-md-7 left-box-foot">
						
					{% block footer %}
					<p>
					<a href="/">Видеоуроки уроки CorelDRAW Total Commander для начинающих пользователей чайников</a><br>					
					© 2010 - {{ footer_mixin.year_create|date:"Y" }} Егор Астапов | cайт мониторится с помощью сервиса <a href="http://ping-admin.ru">ping-admin</a>
					</p>
					{% endblock %}
					   
					</div>
					<div class="col-md-5 right-box-foot">
						<p>
						количество статей: {{ footer_mixin.count_article }} | 
						количество комментариев: {{ footer_mixin.comment_article }}  |  
						онлайн: <span id="online-user-num">{{ footer_mixin.online_user }}</span>
						</p>
					 </div>
				</footer>
		</div>
	</div>	

    </div><!-- /.container -->
  </body>
</html>