{% extends "blog/base.html" %}
{% load static %}

{% block description %}{{ category_list.description }}{% endblock %}


{% block keywords %}{{ category_list.keywords }}{% endblock %}


{% block title %}{{ category_list.title }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">главная</a></li>
    <li class="breadcrumb-item"><a href="{% url 'blog:category' category_list.url %}">{{ category_list.title }}</a></li>
  </ol>
</nav>
<h1>{{ category_list.h1_title|capfirst }}</h1>


{% for page in page_list %}
<ul class="list-unstyled">
    <li class="media">
	  <a href="{% url 'blog:post' page.url %}"><img class="d-flex mr-3 img-thumbnail" src="{{ MEDIA_URL }}{{ page.mini_icon }}" alt="{{ page.title }}"></a>
	  <div class="media-body">
	    <h{{ forloop.counter }} class="mt-0"><a href="{% url 'blog:post' page.url %}">{{ page.title|capfirst }}</a></h{{ forloop.counter }}>
	    {{ page.description_full }}<br>
	    просмотры: {{ page.view_page }} &nbsp;&nbsp; Автор: {{ page.author }}  &nbsp;&nbsp; дата: {{ page.create_date }}
	  </div>
	</li>
	<hr>
</ul>	
{% empty %}
нет статей!	
<hr>
{% endfor %}
	


{% if is_paginated %}
<div class="pagination-box">
<nav aria-label="Page navigation example">
  <ul class="pagination black">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">предыдущая</a></li>
        {% endif %}

     
        <li class="page-item"><a class="page-link">cтраница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a></li>
     

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">следующая</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
  </ul>
</nav>
</div>
{% endif %}

рейтинг: {{ category_list.vote }}%
{% endblock %}