{% extends "blog/base.html" %}

{% block description %}{{ page.description }}{% endblock %}


{% block keywords %}{{ page.keywords }}{% endblock %}


{% block title %}{{ page.title }}{% endblock %}


{% block content %}
<h1>{{ page.h1_title|capfirst }}</h1>
{{ page.text|safe }}

<form action="" method="post">
	{% csrf_token %}	
	{{ form.as_p }}
	<p><button class='js-captcha-refresh btn btn-outline-dark'>обновить капчу</button></p>
	<button type="submit" class="btn btn-dark">отправить</button>
</form>

<div class='message'>
{% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</div>

<hr>
просмотры: {{ page.view_page }}
{% endblock %}
