{% extends "blog/base.html" %}
{% load static %}

{% block description %}{{ post_list.description }}{% endblock %}


{% block keywords %}{{ post_list.keywords }}{% endblock %}


{% block title %}{{ post_list.title }}{% endblock %}


{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">главная</a></li>
    <li class="breadcrumb-item"><a href="{% url 'blog:category' category_list.url %}">{{ category_list.title }}</a></li>
  </ol>
</nav>

<h1>{{ post_list.h1_title|capfirst }}</h1>
{{ post_list.text|safe}}
<hr>
рейтинг: <span id="rating-num-info">{{ post_list.rating_result}}</span> &nbsp;&nbsp; просмотры: {{ post_list.view_page }} &nbsp;&nbsp; автор: {{ post_list.author}} &nbsp;&nbsp; создано: {{ post_list.create_date}}
<hr>
<div id="rating-page" data-id-page="{{ post_list.id }}" data-url="{% static 'img/rating/' %}">
    проголосуйте за эту статью:<br>
    <img  data-rating="1" src="{% static 'img/rating/star_rating2.png' %}">
    <img  data-rating="2" src="{% static 'img/rating/star_rating2.png' %}">
    <img  data-rating="3" src="{% static 'img/rating/star_rating2.png' %}">
    <img  data-rating="4" src="{% static 'img/rating/star_rating2.png' %}">
    <img  data-rating="5" src="{% static 'img/rating/star_rating2.png' %}">
</div>

<div class="alert alert-primary rating-alert" role="alert">
  ваш голос учтён!
</div>
                
<div class="comments-page">	
<p class="h4">Комментарии</p>

{% for comment in comment_list %}
	<p>добавил(а): <b>{{ comment.name_user }}</b>&nbsp;|&nbsp;дата: {{ comment.create_date }}<br>
	{{ comment.text }}</p> 
	<hr>
{% empty %}
нет комментариев!	

{% endfor %}



<form method="post" action="{% url 'blog:add_comment' %}">
	{% csrf_token %}	
	{{ form.as_p }}
	<p><button class='js-captcha-refresh btn btn-outline-dark'>обновить капчу</button></p>
	<button type="submit" class="btn btn-dark">отправить</button>
</form>
</div>
{% endblock %}

