{% extends "blog/base.html" %}

{% block description %}{{ post_list.description }}{% endblock %}


{% block keywords %}{{ post_list.keywords }}{% endblock %}


{% block title %}{{ post_list.title }}{% endblock %}


{% block content %}
<h1>Результаты поиска</h1>
<div class='search'>
<ol>
{% for post in search_list %}
	<li><a href='{% url 'blog:post' post.url %}'>{{ post.title }} :: {{ post.category }}</a></li>	
{% empty %}
	нет статей по такому запросу!	
{% endfor %}
</ol>
</div>
{% endblock %}
