{% extends "blog/base.html" %}

{% block description %}{{ page.description }}{% endblock %}


{% block keywords %}{{ page.keywords }}{% endblock %}


{% block title %}{{ page.title }}{% endblock %}


{% block content %}
<h1>Карта сайта</h1>
{{ page.text|safe }}
<div class='sitemap'>
<ol>
	 <li>
	  <a href="/">Главная</a>	  
	</li>
	<li>
	  <a href="{% url 'blog:contact' %}">Контакты</a>	  
	</li>
{% for page in page_list %}
    <li>
	  <a href="{% url 'blog:page' page.url %}">{{ page.title }}</a>	  
	</li>
{% empty %}
нет статей!	
{% endfor %}
</ol>	

<p>Категории:</p>
<ol>
{% for category in category_list %}
    <li>
	  <a href="{% url 'blog:category' category.url %}">{{ category.title }}</a>	  
	</li>
{% empty %}
нет статей!	
{% endfor %}
</ol>	



<p>Статьи блога:</p>
<ol>

{% regroup post_list by category as category_list %}

<ul>
{% for category in category_list %}
    <li>{{ category.grouper }}
    <ol>
        {% for p in category.list %}
          <li><a href='{% url 'blog:post' p.url %}'>{{ p.title }}</a></li>
        {% endfor %}
    </ol>
    </li>
{% endfor %}
</ul>

</ol>	
</div>
<hr>
просмотры: {{ page.view_page }}
{% endblock %}
